# Solana Network Config
# Devnet RPC Endpoint (or localnet if testing locally)
VITE_SOLANA_RPC_URL=https://api.devnet.solana.com

# SOLDex Program ID
VITE_PROGRAM_ID=8KSsmmLyR35acaVM9o9EiQgYyV3PFrGKqzYLCcck8qSH
